table {
    border-collapse: collapse;
    /* bordas compartilhadas */
    width: 100%;
}

caption {
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 20px;
}

th,
td {

    padding: 15px;
    text-align: left;
    /* border: 1px solid #cecece; */
    border-bottom: 1px solid #cecece;
}

th {
    font-size: 1.3em;
    background-color: #cecece;
}

td {
    font-size: larger;
}

tr:hover {
    background-color: #ebebeb;
}

div#container {
    overflow-x: auto;
}